---
layout: default
---
{%- assign _sections = site.sections | sort: 'order' -%}
{%- include header.html scrolly_nav=_sections -%}


<style>
.vidcontainer { 
	width:80%;
	position:relative;
	margin: auto;
	}
.vidcontainer video {
    position:relative;
    z-index:0;
	width:100%;
	height:100%;
}
</style>


<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	
	<div class="vidcontainer" style="padding:1em 0em 0 0">
		<video autoplay="autoplay" muted loop style="margin-bottom: -20px;border: 4px black solid ;" >
			<source src="https://githubdatafiles.s3.amazonaws.com/AntarcticWildlife_wide.mp4" type="video/mp4" />
		</video>
		<div class="vidoverlay">
			Nick Holschuh <br><br> <p class="vidsub"> Professor of Geology: Amherst College <br> Glaciology - Geophysics - Climate</p>
		</div>
	</div>


	{%- for _section in _sections -%}
		{%- include section.html title=_section.title photo=_section.cover-photo photo-alt=_section.cover-photo-alt auto-header=_section.auto-header content=_section.content -%}
	{%- endfor -%}
</div>

